<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999592735697-1hj9eegp64gmj60v8eusm7bm1ibu4g54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999592735697-1hj9eegp64gmj60v8eusm7bm1ibu4g54</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>999592735697-4ab7dernasndmi3g76qpdljje6enbj60.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaerTiRLVVO58uqXfpbAD93YHervxpYs4</string>
	<key>GCM_SENDER_ID</key>
	<string>999592735697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.mataApp</string>
	<key>PROJECT_ID</key>
	<string>mata-store</string>
	<key>STORAGE_BUCKET</key>
	<string>mata-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999592735697:ios:cb7f893fab2185b909a6f0</string>
</dict>
</plist>